@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="https://localhost:7079/Coaches" </a>  Click Here to Create a Coach</p>
    <p><a href="https://localhost:7079/Teams" </a>  Click Here to Create a Team</p>
    <p><a href="https://localhost:7079/Players" </a>  Click Here to Create a Player</p>
    <p><a href="https://localhost:7079/Positions" </a>  Click Here to Create a Positions</p>
    
</div>
